/** Variables **/
:root {
  --main-bg-color: #202225;
  --main-blue: #308ad9;
  --main-yellow: #f2b705;
  --main-gold: #f28705;
  --main-gold-dark: #22262b;
  --main-orange: #f25c05;
  --main-red: #f20505;

  --bright-white: #fff;
  --border-radius: 0.25rem;
}

/** Base Typography **/
html,
body {
  font-size: 10px;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
}

canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Serif", serif;
  letter-spacing: 0em;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 1.5rem;
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  line-height: 1.5;
  font-size: 6.10352rem;
}

h2 {
  line-height: 1.25;
  font-size: 4.88281rem;
}

h3 {
  line-height: 1.5;
  font-size: 3.90625rem;
}

h4 {
  line-height: 1.5;
  font-size: 3.125rem;
}

h5 {
  line-height: 1.5;
  font-size: 2.5rem;
}

h6 {
  line-height: 1.5;
  font-size: 2rem;
}

footer,
nav,
ol,
ul,
p {
  margin-bottom: 3rem;
  line-height: 3rem;
  font-size: 1.6rem;
  margin-top: 0;
}
ul,
ol {
  padding-left: 3rem;
}
footer {
  margin-bottom: 0;
  padding-bottom: 0.5rem;
}

/** Base Structure **/
body {
  margin: 0;
  background-color: var(--main-bg-color);
}
body,
a {
  color: var(--bright-white);
}
::-moz-selection {
  background: var(--bright-white);
}
::selection {
  background: var(--bright-white);
}

.container {
  position: relative;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

@media only screen and (max-width: 750px) {
  .container {
    padding: 0 1rem;
  }
}

.blinking-cursor {
  color: var(--bright-white);
  -webkit-animation: 1s blink step-end infinite;
          animation: 1s blink step-end infinite;
}

/** Post **/
.post-title a {
  text-decoration: none;
}
.post-title a:hover {
  text-decoration: underline;
}
.post-excerpt {
  margin-bottom: 1rem;
}
.post-read-more {
  margin-top: 0;
}
.post {
  padding-top: 1em;
  border-bottom: 1px solid var(--bright-white);
}
.post p {
  max-width: 80rem;
}

.dynamics {
  width: 100%;
  max-width: 80rem;
  margin-bottom: 3rem;
}

.tubs {
  font-size: 1.6rem;
  color: var(--bright-white);
  /* border: 1px solid var(--main-orange); */
  max-width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 3rem;
}

p.arrangement-container {
  border: 1px solid var(--main-blue);
  background-color: var(--main-gold-dark);
  max-width: 20rem;
  padding: 0 1rem;
}
p.arrangement-container::after {
  content: '';
  display: block;
  width: 100%;
  height: 2rem;
  background-image: url('/img/pattern2.svg');
}

ul.blog-nav {
  padding-top: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
li.blog-nav-item {
  display: inline-block;
  margin-right: 1rem;
}
a:hover {
  text-decoration: none;
}
.header-line {
  width: 100%;
  height: 0.25rem;
  background-color: var(--main-yellow);
}
header h1 {
  margin-bottom: 0;
}

.page-number {
  padding: 0 1rem;
}

@-webkit-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: var(--bright-white);
  }
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: var(--bright-white);
  }
}

@media only screen and (max-width: 750px) {
  html {
    font-size: 11px;
  }
  h1 {
    font-size: calc(6.10352rem * 0.85);
  }

  h2 {
    font-size: calc(4.88281rem * 0.85);
  }

  h3 {
    font-size: calc(3.90625rem * 0.85);
  }

  h4 {
    font-size: calc(3.125rem * 0.85);
  }

  h5 {
    font-size: calc(2.5rem * 0.85);
  }

  h6 {
    font-size: calc(2rem * 0.85);
  }
}
