.container {
  position: relative;
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 2rem;
}
@media only screen and (max-width: 750px) {
  .container {
    padding: 0 1rem;
  }
}
html,
body {
  font-size: 10px;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Serif", serif;
  letter-spacing: 0em;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 1.5rem;
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
h1 {
  line-height: 1.5;
  font-size: 6.10352rem;
}
h2 {
  line-height: 1.25;
  font-size: 4.88281rem;
}
h3 {
  line-height: 1.5;
  font-size: 3.90625rem;
}
h4 {
  line-height: 1.5;
  font-size: 3.125rem;
}
h5 {
  line-height: 1.5;
  font-size: 2.5rem;
}
h6 {
  line-height: 1.5;
  font-size: 2rem;
}
footer,
nav,
ol,
ul,
p {
  margin-bottom: 3rem;
  line-height: 3rem;
  font-size: 1.6rem;
  margin-top: 0;
}
ul,
ol {
  padding-left: 3rem;
}
footer {
  margin-bottom: 0;
  padding-bottom: 0.5rem;
}
header {
  display: inline-block;
  padding: 0 2rem;
  -webkit-filter: drop-shadow(0px 5px 10px #000);
          filter: drop-shadow(0px 5px 10px #000);
}
a {
  padding: 0 2rem;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.headerlink {
  padding: 0;
}
ul.blog-nav {
  margin: 0;
  padding: 0;
}
ul.blog-nav li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
ul.blog-nav li a {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-right: 0.5rem;
}
header h1 {
  margin: 0;
}
@media only screen and (max-width: 750px) {
  html {
    font-size: 11px;
  }
  h1 {
    font-size: calc(6.10352rem * 0.85);
  }
  h2 {
    font-size: calc(4.88281rem * 0.85);
  }
  h3 {
    font-size: calc(3.90625rem * 0.85);
  }
  h4 {
    font-size: calc(3.125rem * 0.85);
  }
  h5 {
    font-size: calc(2.5rem * 0.85);
  }
  h6 {
    font-size: calc(2rem * 0.85);
  }
}
.arrangement {
  padding: 0 1rem;
  float: left;
  margin: 6rem 2rem 0.5rem 0;
}
.arrangement p {
  margin-bottom: 0;
}
.arrangement svg {
  width: 100%;
  height: auto;
}
.tubs-container {
  position: relative;
}
.tubs {
  font-size: 1.6rem;
  max-width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
}
.dynamics-container {
  position: relative;
  overflow: hidden;
}
.dynamics {
  font-size: 6rem;
  width: 100%;
  max-width: 80rem;
  position: relative;
  margin-bottom: 1rem;
  display: block;
}
svg :not(text),
.no-user-select {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.container {
  position: relative;
}
