.tubs-container {
  position: relative;
}
.tubs {
  font-size: 1.6rem;
  max-width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
}
