<div class="post">
  <!-- Title -->
  <h2 class="post-title">
    <% if (item.title != 'About'){ %>
      <%- item.title %>
    <% } %>
  </h2>

  <!-- Content -->
  <%- item.content %>
  <div class="seperator"></div>
</div>
